services:
  roach1:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach1:/cockroach/cockroach-data"
    command: start --cluster-name=crabby-roach --logtostderr=WARNING --log-file-verbosity=INFO --insecure  --http-addr=roach1:8080 --cache=.25 --listen-addr=roach1:36257 --sql-addr=roach1:26257 --accept-sql-without-tls --advertise-addr=roach1:36257 --join=roach1:36257,roach2:36257,roach3:36257
    container_name: roach1
    labels:
      - "traefik=true"
      - "traefik.docker.network=roachnet"
      - "traefik.http.routers.roachdb_admin.entrypoints=roachdb-admin"
      - "traefik.http.routers.roachdb_admin.service=roachdb-admin"

      - "traefik.http.routers.roachdb.rule=Host(`roachdb.localhost`)"
      - "traefik.http.routers.roachdb.entrypoints=roachdb-inter"
      - "traefik.http.routers.roachdb.service=roachdb-inter"

      - "traefik.http.routers.roachdb-sql.entrypoints=roachdb-sql"
      - "traefik.http.routers.roachdb-sql.service=roachdb-client-comms"

      - "traefik.http.services.roachdb-admin.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-admin.loadbalancer.server.port=8080"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.port=36257"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.port=26257"
    networks:
      - roachnet
    depends_on:
      - traefik

  roach2:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach2:/cockroach/cockroach-data"
    command: start --cluster-name=crabby-roach --logtostderr=WARNING --log-file-verbosity=INFO --insecure --http-addr=roach2:8080 --join=roach1:36257,roach2:36257,roach3:36257 --cache=.25 --listen-addr=roach2:36257 --sql-addr=roach2:26257 --accept-sql-without-tls --advertise-addr=roach2:36257
    container_name: roach2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=roachnet"
      - "traefik.http.routers.roachdb-sql.rule=Host(`roach.db.sql`)"
      - "traefik.http.services.roachdb-admin.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-admin.loadbalancer.server.port=8080"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.port=36257"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.port=26257"
    networks:
      - roachnet
    depends_on:
      - traefik

  roach3:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach3:/cockroach/cockroach-data"

    command: start --cluster-name=crabby-roach --logtostderr=WARNING --log-file-verbosity=INFO --insecure --http-addr=roach3:8080  --cache=.25 --listen-addr=roach3:36257 --sql-addr=roach3:26257 --accept-sql-without-tls --advertise-addr=roach3:36257 --join=roach1:36257,roach2:36257,roach3:36257
    container_name: roach3
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=roachnet"
      - "traefik.http.routers.roachdb_admin.rule=Host(`roach.db.admin.localhost`)"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-client-comms.loadbalancer.server.port=26257"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-inter.loadbalancer.server.port=36257"
      - "traefik.http.services.roachdb-admin.loadbalancer.server.scheme=http"
      - "traefik.http.services.roachdb-admin.loadbalancer.server.port=8080"
    depends_on:
      - traefik
    networks:
      - roachnet

  whoami:
    image: "traefik/whoami"
    container_name: "simple-service"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami.entrypoints=web"
  traefik:
    image: traefik:v3.0
    container_name: traefik
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.roachdb-admin=true"
      - "--entrypoints.roachdb-sql=true"
      - "--entrypoints.roachdb-inter=true"
      - "--entrypoints.web=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.roachdb-admin.address=:8081"
      - "--entrypoints.roachdb-inter.address=:36257"
      - "--entrypoints.roachdb-sql.address=:26257"
    ports:
      - "69:80"
      - "8080:8080"
      - "8081:8080"
      - "36527:36527"
      - "26257:26257"
    labels:
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - roachnet

volumes:
  roach1:
  roach2:
  roach3:


networks:
  roachnet:
    external: true
