services:
  roach1:
    image: cockroachdb/cockroach:latest
    hostname: roach1-db.crabby-chatty.io
    volumes:
      - "roach1:/cockroach/cockroach-data"
      - "../volumes/certs:/certs:ro"
    command:
      start --cluster-name=crabby-roach-secure --logtostderr=WARNING
      --log-file-verbosity=INFO   --http-addr=0.0.0.0:8080 --cache=.25
      --advertise-addr=roach1-db.crabby-chatty.io:26257 --join=roach1-db.crabby-chatty.io:26257
      --certs-dir=/certs --sql-addr=:36257
    container_name: roach1
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=auth_roachnet"
      # admin interface
      - "traefik.http.routers.roach_https.entrypoints=roach_https"
      - "traefik.http.routers.roach_https.rule=Host(`node`) || Host(`traefik`) ||
        HostRegexp(`^.+\\.crabby-chatty\\.io$`) "
      - "traefik.http.routers.roach_https.tls=true"
      - "traefik.http.routers.roach_https.service=db_https"
      - "traefik.http.services.db_https.loadbalancer.server.port=8080"
      - "traefik.http.services.db_https.loadbalancer.server.scheme=https"
      #Healthcheck for https endpoint of database
      - "traefik.http.services.db_https.loadbalancer.healthcheck.followredirects=true"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.interval=60s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.timeout=5s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.port=8080"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.method=GET"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.path=/api/v2/health/?ready=1"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.status=200"
      #Backend Communication scheme
      - "traefik.http.services.db_https.loadbalancer.serverstransport=cockroach_https@file"

      # Sql command interface
      - "traefik.tcp.routers.roach_sql.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_sql.entrypoints=roach_sql"
      - "traefik.tcp.routers.roach_sql.service=db_sql"
      - "traefik.tcp.routers.roach_sql.tls.passthrough=true"
      - "traefik.tcp.services.db_sql.loadbalancer.server.port=36257"
      - "traefik.tcp.services.db_sql.loadbalancer.serverstransport=cockroach_sql@file"
      #Cockroach commands interface
      - "traefik.tcp.routers.roach_inter.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_inter.entrypoints=roach_inter"
      - "traefik.tcp.routers.roach_inter.service=db_inter"
      - "traefik.tcp.routers.roach_inter.tls.passthrough=true"
      - "traefik.tcp.services.db_inter.loadbalancer.server.port=26257"
      # - "traefik.tcp.services.db_sql.loadbalancer.serverstransport=cockroach_inter@file"
    networks:
      roachnet:
        ipv4_address: 172.19.0.249
    depends_on:
      certs_gen_tool:
        condition: "service_completed_successfully"

  roach2:
    image: cockroachdb/cockroach:latest
    hostname: roach2-db.crabby-chatty.io
    volumes:
      - "roach2:/cockroach/cockroach-data"
      - "../volumes/certs:/certs:ro"
    command:
      start --cluster-name=crabby-roach-secure --logtostderr=WARNING
      --log-file-verbosity=INFO  --http-addr=0.0.0.0:8080 --join=roach1-db.crabby-chatty.io:26257
      --cache=.25  --advertise-addr=roach2-db.crabby-chatty.io:26257 --certs-dir=/certs
      --sql-addr=:36257
    container_name: roach2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=auth_roachnet"
      # admin interface
      - "traefik.http.routers.roach_https.entrypoints=roach_https"
      - "traefik.http.routers.roach_https.rule=Host(`node`) || Host(`traefik`) ||
        HostRegexp(`^.+\\.crabby-chatty\\.io$`) "
      - "traefik.http.routers.roach_https.tls=true"
      - "traefik.http.routers.roach_https.service=db_https"
      - "traefik.http.services.db_https.loadbalancer.server.port=8080"
      - "traefik.http.services.db_https.loadbalancer.server.scheme=https"
      #Healthcheck for https endpoint of database
      - "traefik.http.services.db_https.loadbalancer.healthcheck.followredirects=true"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.interval=60s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.timeout=5s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.port=8080"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.method=GET"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.path=/api/v2/health/?ready=1"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.status=200"
      #Backend Communication scheme
      - "traefik.http.services.db_https.loadbalancer.serverstransport=cockroach_https@file"

      # Sql command interface
      - "traefik.tcp.routers.roach_sql.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_sql.entrypoints=roach_sql"
      - "traefik.tcp.routers.roach_sql.service=db_sql"
      - "traefik.tcp.routers.roach_sql.tls.passthrough=true"
      - "traefik.tcp.services.db_sql.loadbalancer.server.port=36257"
      - "traefik.tcp.services.db_sql.loadbalancer.serverstransport=cockroach_backend@file"
      #Cockroach commands interface
      - "traefik.tcp.routers.roach_inter.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_inter.entrypoints=roach_inter"
      - "traefik.tcp.routers.roach_inter.service=db_inter"
      - "traefik.tcp.routers.roach_inter.tls.passthrough=true"
      - "traefik.tcp.services.db_inter.loadbalancer.server.port=26257"
      # - "traefik.tcp.services.db_inter.loadbalancer.serverstransport=cockroach_backend@file"
    networks:
      roachnet:
        ipv4_address: 172.19.0.248
    depends_on:
      certs_gen_tool:
        condition: "service_completed_successfully"

  roach3:
    image: cockroachdb/cockroach:latest
    hostname: roach3-db.crabby-chatty.io
    volumes:
      - "roach3:/cockroach/cockroach-data"
      - "../volumes/certs:/certs:ro"

    command:
      start --cluster-name=crabby-roach-secure --logtostderr=WARNING
      --log-file-verbosity=INFO  --http-addr=0.0.0.0:8080  --cache=.25    --advertise-addr=roach3-db.crabby-chatty.io:26257
      --join=roach1-db.crabby-chatty.io:26257 --certs-dir=/certs --sql-addr=:36257
    container_name: roach3
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=auth_roachnet"
      # admin interface
      - "traefik.http.routers.roach_https.entrypoints=roach_https"
      - "traefik.http.routers.roach_https.rule=Host(`node`) || Host(`traefik`) ||
        HostRegexp(`^.+\\.crabby-chatty\\.io$`) "
      - "traefik.http.routers.roach_https.tls=true"
      - "traefik.http.routers.roach_https.service=db_https"
      - "traefik.http.services.db_https.loadbalancer.server.port=8080"
      - "traefik.http.services.db_https.loadbalancer.server.scheme=https"
      #Healthcheck for https endpoint of database
      - "traefik.http.services.db_https.loadbalancer.healthcheck.followredirects=true"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.interval=60s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.timeout=5s"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.port=8080"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.method=GET"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.path=/api/v2/health/?ready=1"
      - "traefik.http.services.db_https.loadbalancer.healthcheck.status=200"
      #Backend Communication scheme
      - "traefik.http.services.db_https.loadbalancer.serverstransport=cockroach_https@file"

      # Sql command interface
      - "traefik.tcp.routers.roach_sql.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_sql.entrypoints=roach_sql"
      - "traefik.tcp.routers.roach_sql.service=db_sql"
      - "traefik.tcp.routers.roach_sql.tls.passthrough=true"
      - "traefik.tcp.services.db_sql.loadbalancer.server.port=36257"
      - "traefik.tcp.services.db_sql.loadbalancer.serverstransport=cockroach_sql@file"
      #Cockroach commands interface
      - "traefik.tcp.routers.roach_inter.rule=HostSNIRegexp(`^.+\\.crabby-userdb\\.io$ || traefik`)"
      - "traefik.tcp.routers.roach_inter.entrypoints=roach_inter"
      - "traefik.tcp.routers.roach_inter.service=db_inter"
      - "traefik.tcp.routers.roach_inter.tls.passthrough=true"
      - "traefik.tcp.services.db_inter.loadbalancer.server.port=26257"
      # - "traefik.tcp.services.db_sql.loadbalancer.serverstransport=cockroach_inter@file"
    networks:
      roachnet:
        ipv4_address: 172.19.0.247
    depends_on:
      certs_gen_tool:
        condition: "service_completed_successfully"

  db-init:
    image: baxydocker/db-init:latest
    container_name: init
    hostname: roach-init
    command: "/tool"
    env_file: "../../config/utils/init_db/.env.prod"
    depends_on:
      certs_gen_tool:
        condition: "service_completed_successfully"
    networks:
      - roachnet
    volumes:
      - "../volumes/certs:/certs"
  certs_gen_tool:
    image: baxydocker/certs_gen:latest
    container_name: certs_gen
    command: "/gen"
    env_file: "../../config/utils/certs_gen/.env.prod"
    volumes:
      - "../volumes/certs:/.cockroach-certs"
      - "../volumes/concat-certs:/lb"
    networks:
      - roachnet

  traefik:
    image: traefik:v3.0.4
    container_name: traefik
    hostname: traefik
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.watch=true"
      - "--providers.docker.exposedbydefault=false"
      - --providers.file.filename=dynamic.yml
      - "--entrypoints.web.address=:80"
      - "--entrypoints.traefik.address=:9090"
      - "--entrypoints.roach_https.address=:8080"
      - "--entrypoints.roach_inter.address=:26257"
      - "--entrypoints.roach_sql.address=:36257"
      - "--log=true"
      - "--log.filepath=/traefik.log"
      - "--log.format=json"
      - "--log.level=DEBUG"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--accesslog.filepath=/traefik.access.log"
    ports:
      #some apache server is running, not sure why
      - "69:80"
      - "8080:8080"
      - "8081:9090"
      - "26257:26257"
      - "36257:36257"
    # labels:
    #   - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`) && PathPrefix(`/dashboard`))"
    #   - "traefik.http.routers.dashboard.service=api@internal"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "../../config/traefik/dynamic.yml:/dynamic.yml"
      - "../../logs/traefik.log:/traefik.log"
      - "../../logs/traefik.access.log:/traefik.access.log"
      - "../volumes/certs:/certs:ro"
      - "../volumes/concat-certs:/db:ro"
    depends_on:
      certs_gen_tool:
        condition: "service_completed_successfully"
    networks:
      roachnet:
        ipv4_address: 172.19.0.250

  tracing:
    restart: always
    image: jaegertracing/all-in-one:1.58
    container_name: jaeger
    ports:
      - 14268:14268
      - 16686:16686
    networks:
      - roachnet

    # labels:
    # - "traefik.enable=true"
    # - "traefik.http.routers.crabby_jaeger.entrypoints=web"
    # - "traefik.http.routers.crabby_jaeger.rule=Host('tracing.crabby-chatty.io')"
    # - "traefik.http.services"
volumes:
  roach1:
  roach2:
  roach3:
  # certs:
  concat-certs:

networks:
  roachnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16
          gateway: 172.19.0.1
  init-db:
    external: true
