services:
  postgres:
    image: postgres:latest
    container_name: postgres_insecure
    hostname: postgresdb
    environment:
      POSTGRES_MULTIPLE_DATABASES: "auth,userdb"
      POSTGRES_MULTIPLE_USERS: "auth,userdb"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql
      - ../postgres:/docker-entrypoint-initdb.d:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=postgres"
      - "traefik.tcp.routers.postgres_sql.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.postgres_sql.entrypoints=db_sql"
      - "traefik.tcp.routers.postgres_sql.tls=false"
      - "traefik.tcp.routers.postgres_sql.service=pg_sql_svc"
      - "traefik.tcp.services.pg_sql_svc.loadbalancer.server.port=5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 2s
      timeout: 3s
      retries: 30
    networks:
      - postgres

  # The setup and scripts used for postgres and pgadmin is following a guide that can be found here:https://event-driven.io/en/automatically_connect_pgadmin_to_database/
  # The scripts for postgres are located in ../docker/postgres
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin4@pgadmin.org"
      PGADMIN_DEFAULT_PASSWORD: "postgres"
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=postgres"
      - "traefik.http.routers.postgres_admin.rule=Host(`pgadmin.localhost`)"
      - "traefik.http.routers.postgres_admin.entrypoints=web"
      - "traefik.http.routers.postgres_admin.tls=false"
      - "traefik.http.routers.postgres_admin.service=pg_admin_svc"
      - "traefik.http.services.pg_admin_svc.loadbalancer.server.port=80"
    networks:
      - postgres
    volumes:
      - ../pgadmin/servers.json:/pgadmin4/servers.json
    # Optional: ensure pgadmin starts after postgres
    depends_on:
      - postgres

  traefik:
    image: traefik:v3.6
    container_name: traefik
    hostname: traefik
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.db_sql=true"
      - "--entrypoints.web=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.db_sql.address=:5432"
      - "--log=true"
      - "--log.filepath=/logs/traefik.insecure.log"
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--accesslog.addinternals=true"
      - "--accesslog.filepath=/logs/traefik.insecure.access.log"
    ports:
      - "6969:80"
      - "8080:8080"
      - "8081:8081"
      - "5432:5432"
    labels:
      # - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`) && (PathPrefix(`/api`) ||
        PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
    volumes:
      - "../../logs:/logs"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    depends_on:
      - postgres
    networks:
      - postgres
volumes:
  pgdata:

networks:
  postgres:
    external: true
