services:
  roach1:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach1:/cockroach/cockroach-data"
    command: start --cluster-name=crabby-roach-insecure --logtostderr=WARNING --log-file-verbosity=INFO --insecure  --http-addr=0.0.0.0:8081 --cache=.25   --accept-sql-without-tls --advertise-addr=roach1_insecure:26257 --join=roach1_insecure:26257
    container_name: roach1_insecure
    hostname: roach1_insecure
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=roachnet"
      # admin interface 
      - "traefik.http.routers.roach_admin.rule=PathPrefix(`/admin/db/`) && Host(`traefik`)"
      - "traefik.http.routers.roach_admin.service=roach_admin_svc"
      - "traefik.http.services.roach_admin_svc.loadbalancer.server.port=8081"
      - "traefik.http.routers.roach_admin.entrypoints=roach_admin"
      - "traefik.http.middlewares.strip_prefix.stripprefix.prefixes=/admin/db"
      - "traefik.http.routers.roach_admin.middlewares=strip_prefix@docker"
      # Sql command interface 
      - "traefik.tcp.routers.roach_sql.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.roach_sql.service=roach_sql_svc"
      - "traefik.tcp.routers.roach_sql.tls=false"
      - "traefik.tcp.services.roach_sql_svc.loadbalancer.server.port=26257"
      - "traefik.tcp.routers.roach_sql.entrypoints=roachdb_sql"
    networks:
      - roachnet
    # depends_on:
    #   - traefik

  roach2:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach2:/cockroach/cockroach-data"
    command: start --cluster-name=crabby-roach-insecure --logtostderr=WARNING --log-file-verbosity=INFO --insecure --http-addr=0.0.0.0:8081 --join=roach1_insecure:26257 --cache=.25   --accept-sql-without-tls --advertise-addr=roach2_insecure:26257
    container_name: roach2_insecure
    hostname: roach2_insecure
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=roachnet"
      # admin interface 
      - "traefik.http.routers.roach_admin.rule=PathPrefix(`/admin/db/`) && Host(`traefik`)"
      - "traefik.http.routers.roach_admin.service=roach_admin_svc"
      - "traefik.http.services.roach_admin_svc.loadbalancer.server.port=8081"
      - "traefik.http.routers.roach_admin.entrypoints=roach_admin"
      - "traefik.http.middlewares.strip_prefix.stripprefix.prefixes=/admin/db"
      - "traefik.http.routers.roach_admin.middlewares=strip_prefix@docker"
      # Sql command interface 
      - "traefik.tcp.routers.roach_sql.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.roach_sql.service=roach_sql_svc"
      - "traefik.tcp.routers.roach_sql.tls=false"
      - "traefik.tcp.services.roach_sql_svc.loadbalancer.server.port=26257"
      - "traefik.tcp.routers.roach_sql.entrypoints=roachdb_sql"
    networks:
      - roachnet
    # depends_on:
    #   - traefik

  roach3:
    image: cockroachdb/cockroach:v23.2.4
    volumes:
      - "roach3:/cockroach/cockroach-data"

    command: start --cluster-name=crabby-roach-insecure --logtostderr=WARNING --log-file-verbosity=INFO --insecure --http-addr=0.0.0.0:8081  --cache=.25   --accept-sql-without-tls --advertise-addr=roach3_insecure:26257 --join=roach1_insecure:26257
    container_name: roach3_insecure
    hostname: roach3_insecure
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=roachnet"
      # admin interface 
      - "traefik.http.routers.roach_admin.rule=PathPrefix(`/admin/db/`) && Host(`traefik`)"
      - "traefik.http.routers.roach_admin.service=roach_admin_svc"
      - "traefik.http.services.roach_admin_svc.loadbalancer.server.port=8081"
      - "traefik.http.routers.roach_admin.entrypoints=roach_admin"
      - "traefik.http.middlewares.strip_prefix.stripprefix.prefixes=/admin/db"
      - "traefik.http.routers.roach_admin.middlewares=strip_prefix@docker"
      # Sql command interface 
      - "traefik.tcp.routers.roach_sql.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.roach_sql.service=roach_sql_svc"
      - "traefik.tcp.routers.roach_sql.tls=false"
      - "traefik.tcp.services.roach_sql_svc.loadbalancer.server.port=26257"
      - "traefik.tcp.routers.roach_sql.entrypoints=roachdb_sql"
    # depends_on:
    #   - traefik
    networks:
      - roachnet
  db-init:
    image: baxydocker/db-init:latest
    container_name: init
    hostname: roach-init
    command: "/tool"
    environment:
      - HEALTHCHECK=http://traefik:8081/admin/db/api/v2/health/?ready=1
      - COCKROACH_HOST=traefik
      - COCKROACH_PORT=26257
      - COCKROACH_USER=root
      - COCKROACH_INSECURE=true
      # uncomment the following line when first initializing a cluster
      # - COCKROACH_INIT=
      - DATABASE_NAME=crabby_userdb
      - DATABASE_PASSWORD=test
      - DATABASE_USER=crabby
    depends_on:
      - traefik
    networks:
      - roachnet 

  traefik:
    image: traefik:v3.0
    container_name: traefik
    hostname: traefik
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.roach_admin=true"
      - "--entrypoints.roachdb_sql=true"
      - "--entrypoints.web=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.roach_admin.address=:8081"
      - "--entrypoints.roachdb_sql.address=:26257"
      - "--log=true"
      - "--log.filepath=/traefik.insecure.log"
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--accesslog.addinternals=true"
      - "--accesslog.filepath=/traefik.insecure.access.log"
    ports:
      - "69:80"
      - "8080:8080"
      - "8081:8081"
      - "26257:26257"
    labels:
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
    volumes:
      - "../../logs/traefik.insecure.log:/traefik.insecure.log"
      - "../../logs/traefik.insecure.access.log:/traefik.insecure.access.log"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    depends_on:
      - roach1
      - roach2
      - roach3
    networks:
      - roachnet
volumes:
  roach1:
  roach2:
  roach3:


networks:
  roachnet:
    external: true
  init-db:
    external: true
